#main{
    display:block;
    padding:20px;
    width:40%;
    margin-top:10px;
    margin-left:10px;
   
}
#main h1{
    font-size:350%;
    margin-left: 25%;
    color: #6A961F;
    font-weight: bold;
   font-family: 'Raleway';
  
   
}
#main h2{
    font-size:20px;
    color: #FBCA1B;
    font-weight: bold;
    font-family: 'Raleway';
}
#main h3{
    font-size:15px;
    color: #FBCA1B;
    font-family: 'Raleway';
}
#main p{
    margin-left: 25%;
    color: #92B473;
    font-family: 'Raleway';
    
}


.navbar{
    background-color: #99badd;
    z-index: 10;
}


.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 15px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.form-check-label{
    color:#FBCA1B;
    font-family: 'Raleway';
}

form{
    margin-left:120px;
}

#coverphoto{
    position:absolute;
    left:50%;
    top:0px;
    z-index:0;
    width: 50%;
}

#data{
    display:block;
    padding:20px;
    width:60%;
    margin:auto;   
}


canvas.drawing, canvas.drawingBuffer {
    position:absolute;
    left: 120px;
    top: 450px;
}
.btn{
    margin-bottom:10px;
}
iframe{
    width:30%;
    height:50%;
    left:60%;
    z-index:3;
    top:30%;
    position: absolute;
}

#bc{
    /* position:absolute; */
    /* margin-left: 150px; */
    /* bottom:10px; */
    color:white;
  
}

footer{
    position: fixed; 
     bottom: 0; 
    width: 100%;
    background-color: #99badd;
    color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 1px;
    font-family: 'Montserrat', sans-serif;
}
footer p i{
    padding-left: 10px;
    
}

footer p{
margin-bottom:5px;
}


button.btn{
    background-color: #99badd;
    border: 2px solid white;
}

#scanner-container{
    border: 5px solid #99badd;
    min-width:410px;
    min-height:310px;
    background-color: black;
    border-radius: 10px;
}