#main{
    display:block;
    padding:20px;
    width:40%;
    margin-top:10px;
    margin-left:10px;
   
}
#main h1{
    font-size:70px;
    margin-left: 120px;
    color: #FBCA1B;
    font-weight: bold;
   font-family: 'Raleway';
}
#main h2{
    font-size:20px;
    color: #FBCA1B;
    font-weight: bold;
    font-family: 'Raleway';
}
#main h3{
    font-size:15px;
    color: #F1E7B0;
    font-family: 'Raleway';
}
#main p{
    margin-left:120px;
    color: #F1E7B0;
    font-family: 'Raleway';
}
form{
    margin-left:120px;
}

#coverphoto{
    position:absolute;
    left:50%;
    top:0px;
    height:100%;
    z-index:0;
    width: 50%;
}

#data{
    display:block;
    padding:20px;
    width:60%;
    margin:auto;   
}


canvas.drawing, canvas.drawingBuffer {
    position:absolute;
    left: 120px;
    top: 450px;
}
.btn{
    margin-bottom:10px;
}
iframe{
    width:30%;
    height:50%;
    left:60%;
    z-index:3;
    top:30%;
    position: absolute;
}

h4{
    position:absolute;
    margin-left: 140px;
    bottom:20px;
  
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #685A52;
    color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 1px;
    font-family: 'Montserrat', sans-serif;
}
footer p i{
    padding-left: 10px;
    
}

footer p{
margin-bottom:5px;
}